<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494913455493-4poeucbjnt2ruok8bkt3g52lg3f9e1mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494913455493-4poeucbjnt2ruok8bkt3g52lg3f9e1mh</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ4JNsovey3cExwtgEuClg5EYaCZdR6xI</string>
	<key>GCM_SENDER_ID</key>
	<string>494913455493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.lasitha.chat</string>
	<key>PROJECT_ID</key>
	<string>my-site-d5cc2</string>
	<key>STORAGE_BUCKET</key>
	<string>my-site-d5cc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494913455493:ios:15e5611ffb04a056d5b0ec</string>
	<key>DATABASE_URL</key>
	<string>https://flutterchatdemo.firebaseio.com</string>
</dict>
</plist>